<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.hamoud.puffpuff">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.base.hamoud.puffpuff.PuffPuffApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.base.hamoud.puffpuff.ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare foreground service -->
        <service
            android:name=".ui.settings.NextTokeReminderService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<meta-data android:name="android.app.shortcuts"-->
        <!--android:resource="@xml/shortcuts" />-->

    </application>

</manifest>